/* reset v1.0 | meyerweb.com 20080212 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { 	line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before,
blockquote:after,
q:before, q:after {	content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse; border-spacing: 0; }


/*
	www.yakimbe.com main styles | Jesse Woodruff - 2010

	Colors:
	off-white background:		#f9f7f2
	off-white border:		#D4D4CA
	green:		 		#527b38
	orange highlight:		#e35200
	light gray text:		#939598
	dark gray links:		#4e504c
	gray visited title:		#6f7072
	green border:			#3d5b2a
*/


/* global styles----------------------------------------------------*/
#container                              { width: 76.8%; min-width:750px; max-width:1100px; margin: 0px auto 0px auto; }
#page-wrapper				{ padding: 25px 25px 25px 25px; background-color:#fff; border: 1px #b1b1b1 solid; margin-top: -1px;
	 			  	  /*-moz-box-shadow:0px 2px 15px #000; -webkit-box-shadow:0px 2px 15px #000; box-shadow:0px 2px 15px #000;*/ overflow:hidden; }
body					{ background: #fff url(../images/graystripes.gif) fixed repeat; width:100%; font: 10px lucida, arial, Sans-Serif; color:#939598; }
/*#background-image			{ position:fixed; top:0; left:0; width:100%; height:100%; background: transparent url(../images/background.jpg) fixed no-repeat; overflow:auto; }*/
h1, h2, h3, h4				{ color:#000; }
h1					{ font: 3em lucida, arial, Sans-Serif; color:#4e504c; padding:0 10px 0 0; margin:0 0 5px 0; }
h2                                      { font: 2.5em lucida, arial, Sans-Serif; color: #4e504c; margin-bottom: -5px; }
h3					{ font: 1.75em lucida, arial, Sans-Serif; }
h4, label                               { display:block; font: 1.4em lucida, arial, Sans-Serif; font-weight:bold; color:#000; clear:both; margin:10px 0 0 0; }
legend                                  { font: 1.2em lucida, arial, Sans-Serif; font-weight:bold; color:#4e504c; clear:both; }
a img					{ border: 0; }
a					{ color: #4e504c; }
a:visited				{ color:#939598; }
a:hover					{ color:#e35200; text-decoration:underline; }
p					{ font: 1.3em lucida, arial, Sans-Serif; color: #000; }
hr					{ margin: 1em; color:#fff; }


/*header---------------------------------------------------------------------*/
#header					{ -moz-box-shadow:0px 2px 15px #000; -webkit-box-shadow:0px 2px 15px #000; box-shadow:0px 2px 15px #000; display:block;
                                          position: fixed; width:100%; height: 26px; top:0; padding: 0 0 0 0; margin: 0 0 25px 0; background: transparent url(../images/utilitybar-bkkg.gif) fixed repeat-x; }
.toplinks li				{ font-size: 1.1em; display: inline; float: right; margin-top:5px; padding: 0 12px; border-left: 1px solid; line-height: 14px; }
.toplinks li.first                      { border-left: none; }
.toplinks a:visited                     { color:#434343; }
.toplinks a:hover                       { color:#e35200; }


#notify-menu                            { margin: 0 0 0 150px; padding: 0; z-index: 30; position: absolute; }
#notify-menu li                         { margin: 0; padding: 0; list-style: none; float: left;	font: 1.2em lucida, arial, Sans-Serif; border-left: 1px solid #000; }
#notify-menu li a                       { display: block; margin: 0; padding: 4px 10px; color: #000; text-align: center;
                                          text-decoration: none; line-height: 17px; }
#notify-menu li.last a                  { border-right: 1px solid #000; }
#notify-menu li a:hover                 { background: #e7e7e7 }
#notify-menu div                        { position: absolute; visibility: hidden; margin: 0; padding: 0; background: #fff; border: 1px solid #000 }
#notify-menu div a                      { position: relative; display: block; margin: 0; padding: 5px 10px; width: 250px; text-align: left;
                                          text-decoration: none; background: #fff; color: #2875DE; font: 11px arial }
#notify-menu div a:hover                { background: #e7e7e7; color: #000 }



/*
ul.notification-menu,
ul.notification-menu ul                 { margin: 0 0 0 150px; padding: 0; list-style-type: none; width: 50%; position: absolute;
                                          display: inline; float: left; z-index: 100; text-align: center; }
ul.notification-menu li                 { float: left; width: 8em; font: 1.2em lucida, arial, Sans-Serif; line-height: 18px; position: relative; }
ul.notification-menu li ul              { -moz-box-shadow:0px 2px 15px #000; display:block; width: 250px; left:-999em;  background-color: #fff; }
ul.notify-menu li                       { display:block; clear:both; }
ul.notification-menu li:hover ul        { left: 0; margin:0; }
ul.notification-menu a                  { display: block; color: #000; text-decoration: none; padding: .3em 10px; }
ul.notification-menu li li a            { display: block; border-top: 1px solid #fff; border-left: 1px; border-right: 0; font: 10px lucida, arial, Sans-Serif; line-height: 1em;
                                          text-align: left; width: 100%; float: left; clear:both; }
ul.notification-menu li h4              { width: 250px; background-color:#fff; margin: 0; padding: .3em 10px; }
ul.notification-menu a:hover            { }
*/

#header a img                           { position: absolute; left: 0; top: 0; }
#nav a                                  { color:#646464; font-weight: bold; text-decoration:none; }
#nav					{ display: block; height: 30px; margin: 65px 0 0 0; overflow:hidden; }
#nav li                                 { display:inline; float:left; font: 1.6em lucida, arial, Sans-Serif; line-height:19px; color:#f9f7f2; padding: 4px 30px 5px 30px;
                                          background-color: #D2D2D2; border:1px #b1b1b1 solid;   }
#nav li.last                            { display:inline; float:right; position:relative; }
#nav .currentpage                       { background-color: #fff; border-bottom: 1px #fff solid; padding-bottom: -3px;}
#nav .currentpage a                     { font-weight:bold; color:#3d5b2a; }
#nav .currentpage a:hover               { text-decoration:none; }
#nav a:hover                            { text-decoration:underline; }
#promo-links                            { overflow:hidden; width: 100%; clear:both; }
.promo-links li				{ display:inline; font: 1.4em lucida, arial, Sans-Serif; font-weight:bold; color:#000;  }
.promo-links a                          { height:22px; line-height: 22px; margin:0 0 8px 0; clear:both; }
.promo-links a:visited                  { color:#434343; }
.promo-rss                              { float:left; padding: 0 20px 0 0; text-indent: 25px; background: url('../images/social-icons.gif') 0 -54px no-repeat; }
.promo-twitter                          { float:left; padding: 0 25px 0 0; text-indent: 25px; background: url('../images/social-icons.gif') 0 -112px no-repeat; }
.promo-fb                               { float:left; padding: 0 25px 0 0; text-indent: 25px; background: url('../images/social-icons.gif') 0 0 no-repeat; }
a:hover.promo-rss                       { color:#e35200; background: url('../images/social-icons.gif') 0 -77px no-repeat; }
a:hover.promo-twitter                   { color:#e35200; background: url('../images/social-icons.gif') 0 -135px no-repeat; }
a:hover.promo-fb                        { color:#e35200; background: url('../images/social-icons.gif') 0 -23px no-repeat; }



/*main-content----------------------------------------------------------------------*/
#main-content				{ display:inline; position: relative; width:71%; min-width:400px; float: left; }
#main-content ol			{ padding:0 0 0 20px; }
#copy p                                 { padding:0 0 1em 0; }
.submission		{ display: inline; float:left; position:relative; width:100%; list-style-type: none; clear: both; padding:0 0 25px 0; }
ul.submission-info li			{ font-size:1.1em; display:inline; float: left; padding: 0 6px; margin: 3px 0 0 0; border-right: 1px solid; overflow:hidden; }
#main-content .first			{  padding-left:0; }
#main-content .last                     { border-right: none; }
#main-content h3 a			{ color:#000; text-decoration: none; }
#main-content h3 a:hover		{ text-decoration:underline; }
#main-content h3 a:visited		{ color:#6f7072; }
a.upvote,
a:visited.upvote 		{ display: inline; position: relative; float:left; width:11px; height:12px; margin: 2px 0 0 -18px; /*26px and 41px*/
  		  			  text-indent: -1000em; background: url('../images/arrows.gif') 0	0 no-repeat; clear:both; }
a.downvote,
 a:visited.downvote 	{ display: inline; position: relative; float:left; width:11px; height:12px; margin: 17px 0 0 -18px;
					  text-indent:-1000em; background: url('../images/arrows.gif') 0 -14px no-repeat; }
a:hover.upvote		{ background-position: -13px 0; }
a:hover.downvote		{ background-position: -13px -14px; }
a.button                                { display:block; position:relative; text-align:center; font-size:1.3em; color:#f9f7f2; padding: 5px 8px; margin:18px 5px 18px 0;
					  background-color:#527b38; border:none; text-decoration:none; -moz-border-radius: 2px; -webkit-border-radius:2px; border-radius:2px; }
#next,
#prev                                   { float:right; margin-top:-8px; }
a.button:hover                          { background-color:#e35200; }
#copy p.contact                         { font: 1.2em lucida, arial, Sans-Serif; color:#4e504c; font-style:bold; padding:0; }
#copy ul                                { font: 1.3em lucida, arial, Sans-Serif; color: #000; list-style-type:disc; padding:5px 0 15px 25px; }
#message                            	{ padding-bottom:15px; }
#message p                              { padding:0 0 3px 0; margin:0; }
#message ol.error                       { font: 1.3em lucida, arial, Sans-Serif; font-weight:bold; color:red; list-style-type:disc; padding-bottom:12px; }
#login div.title			{ display:block; }
#login div.title p                      { display: block; position:relative; overflow:hidden; margin-top: -20px; clear:both; }
#tooltip                                { position: absolute; z-index: 3000; border: 1px solid #3d5b2a; background-color: #fff; padding: 3px 5px 3px 4px; opacity: 1;
                                          -moz-border-radius: 2px; -webkit-border-radius:2px; border-radius:2px; -moz-box-shadow:2px 2px 9px #666; -webkit-box-shadow:2px 4px 9px #666; box-shadow:2px 4px 9px #666;}
#tooltip h3                             { margin: 0;  font-size: 1.2em; }
#tooltip div                            { margin: 0 0 0 15px; width:275px; }
#tooltip.pretty                         { font-size:1.1em; color:#000; }
ol.edithistory                          { display:none; }


/*comments---------------------------------------------------------------*/
#item .submission-info                  { margin:0 0 0 -23px; padding:0 0 6px 0; }
#item .submission                       { padding:0 0 8px 0; }
#item h3                                { font-size: 1.9em; }
#item h3 a:visited                      { color: #000; }
#item p                                 { font-size: 1.3em; color:#4e504c; margin:1.5px 0 0 0; }

#editcomments                           { background-color:#f9f7f2;}
.commentedithistory li                  { background-color:#f9f7f2;}

#comments				{ display:block; float: left; clear:both; padding: 0 0 0 20px; margin-top:-12px; color:#000; }
#comments p				{ padding:0 0; font-size: 1.5em;}
#comments p.comment-meta		{ font-size:1.1em; color:#939598; margin: 10px 0 3px -18px; padding:10px 0 0 0;}
#comments ul.comment-reply		{ display:block; padding:0 0 0 30px; border-left:1px dotted #b5b8bd; }
#comments p.karma-0			{ color:#717376; }
#comments p.karma-1			{ color:#b5b8bd; }
#comments .add-reply			{ margin:10px 0 30px 0; width:92%; display:none; }
#comments textarea			{ height:100px; width:100%;  }




/*sidebar-----------------------------------------------------------------*/
#sidebar                                { width:25%; height:100%; position: relative; float: right; margin:-25px -25px -2000px 0; padding: 20px 15px 2015px 15px; background-color:#f1f1f1; }
#sidebar li				{ font-size: 1.3em; list-style-type:disc; margin: 0 0 0 15px; padding: 5px 0 0 0; }
#sidebar a				{ color:#2d2e2f; text-decoration:none; }
h4.promo_heads                          { color: #527B38 !important; text-align:center; margin-bottom: 4px }
#sidebar a:hover			{ color:#000; text-decoration:underline; }
#sidebar a.button                       { color: #F9F7F2; font-size: 1.6em;  font-weight: bold; text-decoration: none; height: 25px; line-height: 25px;
                                          -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; margin:0 0 20px 0; vertical-align: middle; }



/*footer-------------------------------------------------------------------*/
#footer					{ display:block; position: relative; width:100%; clear:both; padding:0 0 40px 0; overflow:hidden; }
#footer ul				{ display:block; text-align:center; padding: 6px 0 0 0; }
#footer li				{ color:#B6B6B6; display:inline; padding: 0 6px; line-height: 1em;  border-left: 1px solid; }
#footer a                               { color:#B6B6B6; }
#footer li.first			{ border-left:none;}



/*form fields-------------------------------------------------------------*/
label					{ display: block; position: relative; float:left; margin:12px 0 0 0; line-height:1.5em; }
input, textarea, button			{ -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius:3px; padding:2px 5px;
					  font:1.7em lucida, arial, Sans-Serif; color:#4e504c; border:1px #b1b1b1 solid; }
select					{ position:relative; float:left; height:1.7em; padding:2px 5px; margin:0 12px 0 0; font-size:1.7em; color:#4e504c;
					  border:1px #bac3b4 solid; -moz-border-radius: 6px; -webkit-border-radius:6px; border-radius:6px; background-color:#fff; color:#666;}
#newacct                                { display: block; padding-left:5%; float: left; width: 40%; border-left: 1px solid #000; }
#existingacct                           { display: block; float: left; width:40%; margin:0 5% 0 5%; }
.checkbox				{ display:block; position:relative; float:left; clear:both; overflow:hidden; margin:10px 0 0 ; }
form					{ display:block; width:100%; float:left; clear:both; position:relative; }
#newcomment, #edit-item                 { width:90%; margin:0 0 0 20px; }
.ninety                                 { width:90%; margin:0 0 20px 0; }
strong.require				{ color:red; width:50px; clear:both;}
span.direction 				{ display:block; float:left; text-align:left; position:relative; }
fieldset				{ display:block; position: relative; overflow:hidden; border:1px solid #D4D4CA; margin:20px 0 5px 0; padding:10px 10px 15px 10px;
					  -moz-border-radius: 6px; -webkit-border-radius:6px; border-radius:6px; }
/*form p				{ display:inline; position:relative; float:left; }*/
#location				{ position:relative; float:left; clear:left; width:230px;}
#year					{ position:relative; float:left; clear:left; width: 120px; }
#sex					{ position:relative; float:left; clear:left; width:120px; }
.digit-select                           { position:relative; float:left; clear:left; width:120px; }
.note-right				{ display:block; position:relative; float: right; font-size: 1em; margin:1.7em 0 0 0; }
.note-left				{ display:block; position:relative; float: left; font: 1em lucida, arial, Sans-Serif; color:#939598; font-weight:normal; margin:1.7em 0 0 .5em; }
.textfield				{ height:1.4em; width:98.5%; }
.textarea				{ height:120px; width:100%; }
input:focus, textarea:focus		{ -moz-box-shadow:0 0 4px #527b38; -webkit-box-shadow:0 0 4px #527b38;  }
#email-optin                            { margin: 0; padding: 0; }
.submit, button				{ display:block; position:relative; float:right; font-size:13px; color:#f9f7f2; padding: 4px 8px; margin:10px 0 10px 0;
					  background-color:#527b38; border:none; clear:both;  }
a.smallbutton				{ color:#000; text-decoration:none; display:inline; vertical-align:middle; position:relative; font-size:10px; color:#f9f7f2; margin:5px 0 0 3px; padding: 1px 4px 1px 4px;
					  background-color:#6d6d6d; -moz-border-radius: 1.5px; -webkit-border-radius:1.5px; border-radius:1.5px; }
.submit:hover, button:hover,
.smallbutton:hover              	{ color:#fff; background-color:#e35200; cursor:pointer; }
label.error 				{ font-size:1.2em; display: block; margin:0 0 0 0; color: red; font-weight: normal; }
input.error 				{ border: 1px solid red; }



/*recaptcha styles-------------------------------------------------*/
 .recaptchatable .recaptcha_image_cell, 
 #recaptcha_table                       { margin:20px 0 5px 0 !important; background-color:#FF0000 !important; }
 #recaptcha_table                       { border-color: #6f7072; background-color:#fff !important; }
 #recaptcha_response_field              { border-color: #6f7072 !important; }
 .recaptchatable 
 input#recaptcha_response_field         { position:relative !important; margin:10px 0 0 0 !important; }
